@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.projectPageContainer {
    background-color: #fcfbf7;
    min-block-size: 80vh;
    padding-top: 5em;
    padding-bottom: 1em; 
}

.projectHeadingContainer {
    margin-bottom: 2em !important;
}

.coverImage {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
}
