.headerHolder {
    padding-bottom: 0em !important;
    padding-top: 0em !important;
}

.skillLabels {
    margin-top: 0.25em !important;
}

.skillHeader {
    margin-top: 0.25em !important;
    margin-bottom: 0.5em !important;
}