.pageHeader {
    font-family: 'Red Hat Display', sans-serif !important;
    font-size: 3em !important;
}

.squadSectionContainer {
    min-height: 90vh;
}

.pageHeaderContainer {
    padding: 5em 0 2em 0;
    background-image: url("/img/banner-projects.png");
    background-size: contain;
    background-repeat: repeat-x;
}

.peopleListContainer {
    margin-top: 2em;
}

.pagination {
    text-align: center;
    margin-top: 2em;
    margin-bottom: .5em;
}