@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');

.sectionContainer {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #fcfbf7
}

.infoTextMobile {
    font-family: 'Rancho', cursive !important;
    font-size: 2em !important;
    font-weight: 100 !important;
    padding-right: 1em !important;
    padding-left: 1em !important;
}

.infoText {
    font-family: 'Rancho', cursive !important;
    font-size: 2.5em !important;
    font-weight: 100 !important;
}

@media only screen and (max-width: 767px) {
    .reverseColumns {
        flex-direction: column-reverse !important;
    }
}
