@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.introContainer {
    padding-bottom: 5em;
    min-height: 85vh;
}

.particleContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.introHeaderMobile {
    padding-top: .75em !important;
    font-size: 3em !important;
    padding-bottom: .75em !important;
}

.introHeader {
    padding-top: .75em !important;
    font-size: 3em !important;
    padding-bottom: .75em !important;
}

.introHeaderText {
    display: inline;
    font-family: 'Oswald', sans-serif !important;
}

.introButton {
    z-index: 2;
}