@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

.projectHeader {
    font-family: 'Roboto Slab', serif !important;
}

.pageHeader {
    font-family: 'Red Hat Display', sans-serif !important;
    font-size: 3em !important;
}

.pageHeaderContainer {
    padding: 5em 0 0 0;
    background-image: url("/img/banner-projects.png");
    background-size: contain;
    background-repeat: repeat-x;
}

.projectListContainer {
    padding-top: 3em;
    padding-bottom: 3em;
}