@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.projectPageContainer {
    background-color: #fcfbf7;
    min-block-size: 80vh;
}

.projectTextContainer {
    padding: 5em 1em;
}

.projectHeadingContainer {
    margin-bottom: 2em !important;
}

.projectHeading {
    font-family: 'Oswald', sans-serif !important;
    font-size: 2em !important;
}