@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');

.sectionContainer {
    padding-top: 5em;
    padding-bottom: 5em;
}

.infoText {
    font-family: 'Rancho', cursive !important;
    font-size: 3em !important;
    font-weight: 100 !important;
}

@media only screen and (max-width: 767px) {
    .reverseColumns {
        flex-direction: column-reverse !important;
    }
}
